{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
  ],
  "env": {
    "browser": true,
     "node": true,
     "es6": true,
  },
  "parser": "babel-eslint",
  "rules": {
    "quotes": ["error", "single"],
    "semi": ["error", "never"],
    "comma-dangle": ["error", "always-multiline"],
    "no-console": "off",
  },
}
